<%- include('partials/header') %>

  <body id="secretsPage">

    <div class="jumbotron text-center secrets-upper">
      <div class="container secrets-container">
        <i class="fas fa-key fa-10x"></i>
        <h1 class="display-3">You've Discovered My Secret!</h1>
        <a class="btn btn-light btn-lg" href="<%=logOutBtnLink%>" role="button">
          <%=logOutBtnText%>
        </a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>

        <% usersWithSecrets.forEach(function(user){ %>
          <%user.secret.forEach(function(secret){ %>
            <p class="secret-text">
              <%=secret%>
            </p>
            <% }); %>
              <%});%>
                <hr>

      </div>
    </div>

  </body>
  <%- include('partials/footer') %>